################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.exe
/WPF_User_Control/bin/Debug
/.vs
/WPF_User_Control/obj/Debug
